img{
    width: 200px;
    padding: 10px;
}
h1,h4{
    text-align: center;
    margin-top: 15px;
}
h3{
    font-weight: 300;
}
.pages{
    display: flex;
    flex-direction: column;
}
.pages a{
    text-decoration: none;
    height: 40px;
    padding-left: 20px;
}
.pages :hover{
    background-color: rgb(205, 203, 200);
    box-shadow: 2px 2px 2px;
}

mat-icon{
    vertical-align: middle;
    padding: 10px;
    
}