<div>
    <img src="https://th.bing.com/th/id/R.55ab7d8fe07dc2d2e55519c5ed5996ce?rik=OhQrpGNEfpBXZw&riu=http%3a%2f%2fclipart-library.com%2fimage_gallery%2f559121.png&ehk=GtkP64M3UqpwMc36SbXvCiNjNNFZQotOs0Qo0s7Rr0M%3d&risl=&pid=ImgRaw&r=0" alt="">
    <h1>Admin</h1>
    <h4>admin@gmail.com</h4>
</div>

<mat-divider></mat-divider>

<!-- list -->
<div class="pages">
    <h3 class="text-blue-800">Pages</h3>
    <a href="">Dashboard</a>
    <a href="visitors">Source of visitors</a>
    <a href="employees">Top performing employees</a>
</div>