
<div class="card">
     <!-- card -->
     <mat-card>
        <app-card
        bg="blue"
        icon="person"
        content="Sign ups in last 7 days"
        total="15000">
        </app-card>
     </mat-card>
     <mat-card>
        <app-card
        bg="green"
        icon="money"
        content="Revenue in last 7 days"
        total="20000">
        </app-card>
     </mat-card>
     <mat-card>
        <app-card
        bg="orange"
        icon="group"
        content="visiters in last 7 days"
        total="100000">
        </app-card>
     </mat-card>
</div>
<div class="area">
    <!-- area-chart -->
    <app-area-chart></app-area-chart>
</div>